@import "tailwindcss";

/* .router-link-active, */
.router-link-exact-active {
  /* color: #ffffff; */
  color: #22c55e;
  font-weight: 500;
  /* border-bottom: 2px solid #22c55e; */
  width: 80%;
}
.router-link-exact-active:hover {
  color: #ffffff;
}
